.feature__list {
  @media screen and (max-width: 480px) {
    & :not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    min-width: 270px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  & .feature__title {
    margin-bottom: 10px;
    @extend%section__title-secondary;
    @include fontStyle(700, 14, 16, 3);
    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }

  & .feature__text {
    margin-top: 0px;
    margin-bottom: 0px;

    @extend%section__text;
    text-align: start;
    color: $secondary-color;
  }
}

.feature__elements {
  width: 100%;
}

.feature__block-icon {
  @extend%flex-center-center;
  height: 120px;
  margin-bottom: 30px;

  background: $secondary-background-color;
  border-radius: 4px;
}

.feature__icon {
  min-height: 70px;
  min-width: 70px;
}

// .feature__icon {
//   min-height: 70px;
//   min-width: 70px;
// }
// &:nth-child(4n) {
//   margin-right: 0px;
// }

// &::before {
//   display: block;
//   content: " ";
//   height: 120px;
//   background: $secondary-background-color;
//   border-radius: 4px;
//   background-size: 70px 70px;
//   background-repeat: no-repeat;
//   background-position: center;
// }

// .feature__block-icon {
//   @extend%flex-center-center;
//   width: 100%;
//   height: 120px;
//   margin-right: auto;
//   margin-left: auto;
//   background-color: $secondary-background-color;
//   margin-bottom: 30px;
//   border-radius: 4px;
// }
