/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-footer-background-color);
}

.footer__container {
  @extend%flex-column-center-center;
  // display: flex;
  // align-items: baseline;
}

.footer__info {
  display: block;
}

.footer__connection {
  width: 231px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer__address {
  color: var(--white-color);
  font-style: normal;
  line-height: 1.714;
  margin-bottom: 0px;
}

.contacts__list {
  color: var(--color-mail-phone);
  text-decoration: none;

  display: inline-block;
  width: 231px;
  margin-top: 9px;
}

.footer__join {
  display: block;
  margin-top: 60px;

  //   margin-left: 70px;
}

.footer__title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer__sign {
  @extend%flex-column-center-center;
  margin-top: 60px;
  //   padding-right: 0;
  //   padding-left: 0;
}

// .footer-form {
//   position: relative;
//   width: 570px;
// }

.footer-form__input {
  width: 450px;
  height: 50px;
  padding: 15px 12px 15px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-footer-background-color);
}

.footer-form {
  &.footer-form__input {
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;

      display: flex;
      align-items: center;
      letter-spacing: 0.03em;

      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.footer-icon__send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
