// /* header */

.header {
  display: flex;
  width: 100%;
  height: 60px;
  @include border(--main-background-color);
}

.header-container {
  @extend %flex-space-between-center;
}

.header-nav {
  @extend %flex-space-between-center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Site-nav */

.site-nav {
  @extend %flex-space-between-center;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;

  & .header-nav__link {
    &.pseudo {
      color: var(--accent-blue);

      &::after {
        display: block;
        position: absolute;
        content: " ";
        width: 100%;
        height: 4px;
        bottom: 0;
        border: 2px;
        border-radius: 2px;
        background-color: var(--accent-blue);
      }
    }
  }

  & .header-nav {
    &:last-child {
      margin-right: 0px;
    }
  }

  & .header-nav__item {
    margin-right: 50px;
  }

  & .header-nav__link {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;

    color: var(--main-color);
    @extend %header-nav__link;

    &:hover,
    &:focus {
      color: var(--accent-blue);
      cursor: pointer;
    }
  }
}

/* Auth-nav */

.auth-nav {
  @extend %flex-space-between-center;

  & .header-nav__item {
    margin-right: 30px;
  }

  & .header-nav__link {
    color: var(--secondary-color);
    @extend %header-nav__link;

    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: var(--accent-blue);
      cursor: pointer;
    }
  }
}

.auth-nav .header-nav__item + .header-nav__item {
  margin-right: 0px;
}
