/* our-team__section -- Наша команда */

.our-team__section {
  background-color: $secondary-background-color;
}

.our-team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

// .our-team__list {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   gap: 30px;
// }

.our-team__elements {
  margin-bottom: 30px;
  max-width: 450px;
  background: $main-background-color;
  box-shadow: $box-shadow-our-team-color;
  border-radius: 0px 0px 4px 4px;

  text-align: center;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }

  &:nth-child(4n) {
    margin-right: 0px;
  }

  & .our-team__photo {
    display: block;
    min-width: 100%;
  }

  & .our-team__name {
    color: $main-color;
    @include fontStyle(500, 16, 19, 3);

    margin-top: 0px;
    margin-bottom: 10px;
  }

  .our-team__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .our-team__position {
    color: $secondary-color;
    @include fontStyle(400, 16, 19, 3);
  }
}
