/* regular-clients -- Постоянные клиенты */

.regular-clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.regular-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  width: 210px;
  height: 92px;
  border: 1px solid $social-color;
  border-radius: 4px;
  color: $social-color;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-blue;
    box-shadow: none;
    color: $accent-blue;
    cursor: pointer;
  }
  // &:not(:last-child) {
  //   margin-left: 30px;
  // }

  // @media screen and (min-width: 768px) {
  //   flex-basis: calc((100% - 90px) / 3);
  // }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
