/* logo */

.logo {
  font-family: "Raleway", sans-serif;
  color: $accent-blue;
  text-decoration: none;
  @include fontStyle(700, 24, 28, 3);

  &--header {
    color: $color-logo-STUDIO;
  }

  &--footer {
    color: $white-color;
  }

  //   @media screen and (max-width: 480px) {

  // }

  // @media screen and (min-width: 768px) {
  //
  // }

  @media screen and (min-width: 1200px) {
    @include fontStyle(700, 26, 31, 3);
  }
}

.footer__logo {
  display: inline-block;
  width: 231px;
  margin-top: 0px;
  margin-bottom: 20px;
}
