/* logo */

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-blue);
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;

  &--header {
    color: var(--color-logo-STUDIO);
  }

  &--footer {
    color: var(--white-color);
  }

  //   @media screen and (max-width: 480px) {

  // }

  // @media screen and (min-width: 768px) {
  //
  // }

  // @media screen and (min-width: 1200px) {
  // font-size: 26px;
  // line-height: 1.192;
  // }
}

.footer__logo {
  display: inline-block;
  width: 231px;
  margin-top: 0px;
  margin-bottom: 20px;
}
