// /* project-overlay */

// .project__overlay {
//   display: flex;
//   justify-content: left;
//   padding: 63px 24px;

//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 100%;
//   height: 100%;

//   color: var(--white-color);
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.56;
//   letter-spacing: 0.03em;
//   align-items: center;

//   background-color: var(--project-photo-popup-bg-color);

//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
