/* section-title */

.section-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 30px;
}

// line-height: 1.189;
