.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--white-color);
  color: var(--social-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-blue);
    color: var(--white-color);
    cursor: pointer;
  }
}

.social__link--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--social-footer-backgroundcolor);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-blue);
    cursor: pointer;
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;

  &--footer {
    display: flex;
    align-items: center;
    width: 206px;
    margin-top: 20px;
  }
}
