body {
  font-family: "Roboto", sans-serif;
  color: $main-color;
  background-color: $main-background-color;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
